* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f6fa;
    font-family: Arial, sans-serif;
}

/* HEADER */

header {
    background-color: #101827;
    padding: 10px ;
}

h1 {
    color: white;
    font-size: 46px;
}

h1 span {
    color: #00d9ff;
}

/* MENU */

nav {
    display: flex;
    justify-content: center;
    gap: 45px;
}

 a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

/* CONTENEUR DES CLASSES */

main{
     display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 25px
    
}

/* CHAQUE CLASSE */

.classe {
    width: 200px;
    height: 150px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);
    
}

.classe1{
    width: 200px;
    height: 150px;
    background-color: rgb(25, 255, 255);
    border-radius: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);
}

.classe2{
    width: 200px;
    height: 150px;
    background-color: yellow;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);
}

.classe3{
     width: 200px;
    height: 150px;
    background-color: red;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);
}

.classe1 a {
    text-decoration: none;
    color: #101827;
    font-size: 30px;
    font-weight: bold;
    
}

.classe2 a {
    text-decoration: none;
    color: #101827;
    font-size: 30px;
    font-weight: bold;
    
}

.classe3 a{
    text-decoration: none;
    color: #101827;
    font-size: 30px;
    font-weight: bold;

}

.elementaire{
    display: flex;
    flex-wrap: wrap;
    background-color: #00d9ff;
    justify-content: space-around;
}

.cem{
    display: flex;
    flex-wrap: wrap;
    background-color:  rgb(223, 221, 77);
     justify-content: space-around;
}

.lycee{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(143, 31, 31);
     justify-content: space-around;
}

.pfooter{
    color: #f3f6fa;
    background-color: #101827;
    padding: 50px ;
    text-align: center;
}